h2 {
    margin-left: 14px;
}

.image-zone {
    position: absolute;
    left: 55%;
    top: 18%;
    img {
        border-radius: 250px;
        margin-top: 0px;
        height: 500px;
        animation: fadeIn 1.5s;
    }
}

.display-zone {
    display: block;
    position: absolute;
    margin-top: 50%;
    width: 100%;
    height: fit-content;
    .display-zone-text {
        height: fit-content;
        font-family: Coolvetica;
        color:rgb(199, 199, 199);
        margin-left: 11%;
        font-size: small;
        letter-spacing: 0.3ch;
        a {
            color:#fff;
            &:hover {
                color: yellow;
            }
        }
        
        .display-item {
            height: 350px;
            img {
                position: absolute;
                height: 250px;
            }
            p {
                font-size: medium;
                position: absolute;
                margin-left: 350px;
                width: 50%;
            }
        }
        .display-item-mid {
            width: 90%;
            height: 350px;
            img {
                margin-left: 70%;
                height: 250px;
            }
            p {
                font-size: medium;
                position: absolute;
                margin-left: 0px;
                width: 50%;
            }
        }
    }
} 

.virtual-cv {
    height: fit-content;
    width: 100%;
    margin-left: 10%;
    position: absolute;
    margin-top: 133%;
    font-family:'Courier New';
    h1{
        font-size: 23px;
        padding-top: 20px;
        padding-left: 15px;
        height: 50px;
        background-color: rgb(116, 114, 114);
        color: #fff;
    }
}

.bottom-wrapper {
    top: 300%;
    height: fit-content;
}

.dropdownmenu {
    top: 105%;
    position:relative;
}



