.ddMenu {
    width: 100%;
    padding-left: 50px;
    padding-top: 10px;
    margin: 0 auto;
    position: relative;
    .ddButton {
        padding: 15px 20px;
        background: rgb(211, 211, 211);
        box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
        font-weight: bold;
        color: #333;
        display: flex;
        align-items: center;
        cursor: pointer;
        .title-zone {
            margin-left: 10px;
            font-size: 15px;
        }
        &:hover{
            transition: all 0.3s;
            background: #ffd700;
        }
    }
    .ddContent {
        animation:1s forwards;
        .ddItem {
            background-color: #fff;
            padding: 10px;
            animation: fadeIn 0.2s;
        }
    }
}

